For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

- Has the network latency gone up since we switched internet service providers?
- Is the website redesign any good?
- Is our television ad driving more sales?

#### #1. Has the network latency gone up since we switched internet service providers?
- $H_{0}$: there is no change to network latency since switching providers
- $H_{a}$: there is a change in network latency since switching providers
- True Positive: I reject the $H_{0}$, and the network latency has chanced since switching providers
- True Negative: I fail to reject the $H_{0}$, and the network latency has not chanced since switching providers
- Type I error: I reject the $H_{0}$, but switching provides does not change network latency
- Type II error: I fail to reject the $H_{0}$, but switching provides does change network latency

#### #2. Is the website redesign any good?
- $H_{0}$: the website redesign has caused no change in revenue
- $H_{a}$: the website redesign has caused revenue to increase significantly
- True Positive: I reject the $H_{0}$, and the web redesign does change revenue
- True Negative: I fail to reject the $H_{0}$, and web redesign do not change revenue
- Type I error: I reject the $H_{0}$,but web redesign do not change revenue
- Type II error: I fail to reject the $H_{0}$, but web redesign do change revenue

#### #3. Is our television ad driving more sales?
- $H_{0}$: the television ad is not driving more sales 
- $H_{a}$: the television ad does drive more sales
- True Positive: I reject the $H_{0}$, and the television ads do drive sales
- True Negative: I fail to reject the $H_{0}$, and television ads do not drive more sales
- Type I error: I reject the $H_{0}$,but television ads do not drive sales
- Type II error: I fail to reject the $H_{0}$, but television ads do drive sales

### EXTRA PRACTICE

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import seaborn as sns
from env import host, user, password

In [2]:
url = f'mysql+pymysql://{user}:{password}@{host}/zillow'

In [3]:
def get_db_url(user, password, host, db_name):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

### Does room count increase tax value?

- USE zillow;

- select taxvaluedollarcnt, roomcnt
- from properties_2017;

In [8]:
value_roomcnt_hypothesis = pd.read_sql('SELECT taxvaluedollarcnt, roomcnt FROM properties_2017 order by roomcnt desc limit 100', url)
value_roomcnt_hypothesis

    taxvaluedollarcnt  roomcnt
0           1107323.0     96.0
1            349613.0     86.0
2            817728.0     84.0
3            385032.0     77.0
4            402312.0     67.0
5            454548.0     56.0
6            374376.0     52.0
7            321014.0     45.0
8            173090.0     42.0
9            307040.0     40.0
10           311849.0     31.0
11           414684.0     30.0
12           414684.0     30.0
13           414684.0     30.0
14           414684.0     30.0
15           414684.0     30.0
16           414684.0     30.0
17           414684.0     30.0
18           414684.0     30.0
19           414684.0     30.0
20           414684.0     30.0
21           414684.0     30.0
22           414684.0     30.0
23           414684.0     30.0
24           414684.0     30.0
25           211073.0     24.0
26          5310449.0     22.0
27          2362076.0     21.0
28         26879210.0     21.0
29          3761501.0     21.0
30           762480.0     21.0
31            59586.0     20.0
32           339111.0     20.0
33           399593.0     20.0
34          2570319.0     19.0
35          3631311.0     19.0
36          7138171.0     19.0
37           501617.0     19.0
38          2016656.0     19.0
39           928083.0     19.0
40          2690412.0     18.0
41           369618.0     18.0
42           369618.0     18.0
43           369618.0     18.0
44           980000.0     18.0
45          2024138.0     18.0
46          2825663.0     18.0
47           369618.0     18.0
48          8544698.0     18.0
49           369618.0     18.0
50          7307000.0     18.0
51           369618.0     18.0
52           369618.0     18.0
53          5681172.0     18.0
54           369618.0     18.0
55          4098147.0     18.0
56          3900910.0     18.0
57           369618.0     18.0
58           369618.0     18.0
59          1768412.0     18.0
60          7523831.0     18.0
61           369618.0     18.0
62          2879395.0     17.0
63           883359.0     17.0
64           960000.0     17.0
65          2355196.0     17.0
66          1796769.0     17.0
67         10521936.0     17.0
68          2405784.0     17.0
69          2100061.0     17.0
70          2951231.0     17.0
71          2138652.0     17.0
72          2362312.0     16.0
73          4136649.0     16.0
74          4111367.0     16.0
75           742727.0     16.0
76          3218000.0     16.0
77          5600752.0     16.0
78          1596539.0     16.0
79          1775744.0     16.0
80          2728485.0     16.0
81          1061000.0     16.0
82          5332756.0     16.0
83          2630989.0     16.0
84          1754173.0     16.0
85          2346145.0     16.0
86          3350000.0     16.0
87          3859108.0     16.0
88          1894323.0     16.0
89          4974724.0     16.0
90           533631.0     16.0
91          1490133.0     16.0
92          4213287.0     16.0
93          5334922.0     16.0
94          1373648.0     16.0
95          2834108.0     16.0
96          2986052.0     16.0
97          2536434.0     16.0
98          2588836.0     16.0
99          3172951.0     16.0

- $H_{0}$: room count does not increase tax
- $H_{a}$: room count does increase tax
- True Positive: I reject the $H_{0}$, and room count does increase tax value
- True Negative: I fail to reject the $H_{0}$, and room count does not increase tax value
- Type I error: I reject the $H_{0}$,but room count does not increase tax value
- Type II error: I fail to reject the $H_{0}$, but room count does increase tax value

### Does finished square feet increase bath room count?

- Use Zillow;
- SELECT bathroomcnt, calculatedfinishedsquarefeet
- FROM properties_2017
- ORDER BY calculatedfinishedsquarefeet DESC
- limit 25

In [12]:
sqft_bthcnt_hypothesis = pd.read_sql('SELECT bathroomcnt, calculatedfinishedsquarefeet FROM properties_2017 order by bathroomcnt desc limit 25', url)
sqft_bthcnt_hypothesis

    bathroomcnt  calculatedfinishedsquarefeet
0          32.0                       39170.0
1          31.0                       14680.0
2          20.0                       16198.0
3          20.0                        1650.0
4          20.0                       11382.0
5          20.0                       28725.0
6          20.0                          66.0
7          20.0                       11700.0
8          20.0                        9877.0
9          20.0                          80.0
10         19.5                       26345.0
11         19.0                       11439.0
12         19.0                       31415.0
13         19.0                        1367.0
14         18.0                          56.0
15         18.0                       18056.0
16         18.0                        6040.0
17         18.0                       11134.0
18         18.0                       18654.0
19         18.0                       24260.0
20         18.0                        9309.0
21         18.0                       25560.0
22         18.0                       16832.0
23         18.0                        5689.0
24         18.0                       11581.0

- $H_{0}$: finished square feet does not increase bathroom count
- $H_{a}$: finished square feet does increase bathroom count
- True Positive: I reject the $H_{0}$, and finished square feet does increase bathroom count
- True Negative: I fail to reject the $H_{0}$, and finished square feet does not increase bathroom count
- Type I error: I reject the $H_{0}$,but finished square feet does not increase increase bathroom count
- Type II error: I reject the $H_{0}$, but finished square feet does increase bathroom count