In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

# EXERCISES

### PROBABILITY DISTRIBUTIONS

#### 1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

- What is the probability that no cars drive up in the noon hour?
- What is the probability that 3 or more cars come through the drive through?
- How likely is it that the drive through gets at least 1 car?

In [ ]:
# What is the probability that no cars drive up in the noon hour?
λ = 2 #at noon
stats.poisson(λ).pmf(0)

In [ ]:
# What is the probability that 3 or more cars come through the drive through?
stats.poisson(λ).sf(2)

In [ ]:
# How likely is it that the drive through gets at least 1 car?
stats.poisson(λ).sf(0)

#### 2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

- What grade point average is required to be in the top 5% of the graduating class?
- What GPA constitutes the bottom 15% of the class?
- An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
- If I have a GPA of 3.5, what percentile am I in?

In [ ]:
#normal distribution
mean= 3
std_dev= 0.3
grade = stats.norm(mean,std_dev)

In [ ]:
# What grade point average is required to be in the top 5% of the graduating class?
grade.isf(.05)

In [ ]:
# What GPA constitutes the bottom 15% of the class?
grade.ppf(.15)
#grade.isf(.85)

In [ ]:
# An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. 
# Determine the range of the third decile. 
# Would a student with a 2.8 grade point average qualify for this scholarship?
#???range third decile= 
grade.ppf(.30)

In [ ]:
# If I have a GPA of 3.5, what percentile am I in?
grade.cdf(3.5)

#### 3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. 
- How likely is it that this many people or more click through?

In [ ]:
n_trials = 4326
p= .02
click_throughs = stats.binom(n_trials, p)

In [ ]:
click_throughs.sf(96)

#### 4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

- What is the probability that at least one of your first 60 answers is correct?

In [ ]:
n_trials = 100
p= 0.01

stats.binom(n_trials, p).sf(0)

#### 5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [ ]:
# how likely is it that the break area gets cleaned up each day
students = 0.9*(3*22)
p= .03

stats.binom(students, p).sf(0)

In [ ]:
# How likely is it that it goes two days without getting cleaned up? 
visit_in_two_days = students *2
stats.binom(visit_in_two_days, p).pmf(0)

In [ ]:
#All week?
visit_in_five_days = students *5
stats.binom(visit_in_five_days, p).pmf(0)

#### 6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [30]:
mean= 15 * 2
std_dev = 3 * 2

total_lunch_time = 60 #mins
order_time = 2 #mins
eat_time = 15 #mins
cook_time = 10 #mins

max_wait = total_lunch_time - order_time - eat_time - cook_time
max_wait

33

In [ ]:
# 1 hour lunch - 15 mins to eat = 45mins left
# 45mins left - 10mins after ordering - 2 mins to order = 33 mins to wait

In [28]:
stats.norm(mean, std_dev)

In [31]:
stats.norm(mean, std_dev).cdf(max_wait)

0.6914624612740131

#### 7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

- a. What percent of employees earn less than 60,000?
- b. What percent of employees earn more than 95,000?
- c. What percent of employees earn between 65,000 and 80,000?
- d. What do the top 5% of employees make?

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import seaborn as sns
from env import host, user, password

In [3]:
url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [ ]:
def get_db_url(user, password, host, db_name):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [12]:
salaries = pd.read_sql('SELECT * FROM salaries where to_date >now()', url)
salaries

        emp_no  salary   from_date     to_date
0        10001   88958  2002-06-22  9999-01-01
1        10002   72527  2001-08-02  9999-01-01
2        10003   43311  2001-12-01  9999-01-01
3        10004   74057  2001-11-27  9999-01-01
4        10005   94692  2001-09-09  9999-01-01
...        ...     ...         ...         ...
240119  499995   52868  2002-06-01  9999-01-01
240120  499996   69501  2002-05-12  9999-01-01
240121  499997   83441  2001-08-26  9999-01-01
240122  499998   55003  2001-12-25  9999-01-01
240123  499999   77303  2001-11-29  9999-01-01

[240124 rows x 4 columns]

In [13]:
mean= salaries.salary.mean()
mean

72012.23585730705

In [14]:
std_dev= salaries.salary.std()
std_dev

17309.99538025198

In [17]:
# a. What percent of employees earn less than 60,000?
stats.norm(mean, std_dev).cdf(60000)

0.24385742480214423

In [18]:
# b. What percent of employees earn more than 95,000?
stats.norm(mean, std_dev).sf(95000)

0.09208819199804053

In [26]:
# c. What percent of employees earn between 65,000 and 80,000?
## more than 65K
## less than 80K
more_than= stats.norm(mean, std_dev).sf(65000)
less_than= stats.norm(mean, std_dev).cdf(80000)
more_than, less_than

(0.6572970780493486, 0.677763490495318)

In [24]:
# d. What do the top 5% of employees make?
stats.norm(mean, std_dev).isf(.05)

100484.64454102777